<% if (locals.user) { %>
    <div id='menu'>
        <span class='name'><%= user.name %></span>
        <a href='/posts'>View posts</a>
        <a href='/post'>Create a new post</a>
        <a href='/logout'>Logout</a>
    </div>
<% } else { %>
    <div id='menu'>
        <a href='/login'>Login</a>
        <a href='/register'>Register</a>
    </div>
<% } %>