<div id="pager">
    <h3> I am the pager</h3>
    <% if (page.count >1) { %>
        <% if (page.number) { %>
            <a id='prev' href='/?page=<%= page.number %> '>Prev </a>
        <% } %>
        <% if (page.number < page.count -1) { %>
            <% if (page.number) { %>
                &nbsp;&nbsp;
            <% } %>
            <a id='next' href='/?page= <%= page.number + 2 %> '>Next </a>
        <% } %>
    <% } %>    
</div>